/* Initially hide the navbar */
#navbarr {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  /* Show the navbar when scrolling up */
  #navbarr.show {
    transform: translateY(0);
  }
  
  /* Ensure that the navbar remains on top when shown */
  #navbarr.show {
    z-index: 1000;
  }
  
  /* Ensure that the navbar remains visible even when scrolled up */
  #navbarr.show {
    position: sticky;
  }