.toastcontainer {
  width: 350px;
  height: 100px;
  color: #fff;
  margin: 10px;
  padding: 20px 25px;
  position: fixed;
  z-index: 1001;
  box-shadow: 0 0 12px #999;
  border-radius: 3px;
  display: flex;
}

.toastcontainer .toastcontent {
  align-self: center;
}

.toastcontainer .toastcontent .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  color: #51a351;
  font-weight: bolder;
  margin-right: 10px;
}

.toastcontainer .closeBtn {
  position: absolute;
  right: 12px;
  top: 2px;
  font-size: 16px;
  cursor: pointer;
  background-color: aquamarine;
  padding: 15px;
}

.toastcontainer.success {
  background-color: #51a351;
}

.toastcontainer.success.toastcontent {
  color: green;
  padding-left: 9px;
}

.toastcontainer.success.icon {
  color: green;
  padding-left: 9px;
}

.toastcontainer.error {
  background-color: red;
}

.toastcontainer.error.toastcontent {
  color: red;
  padding-left: 9px;
}

.toastcontainer.error.icon {
  color: red;
  padding-left: 9px;
}


.toastcontainer.warn {
  background-color: yellow;
}

.toastcontainer.warn.toastcontent {
  color: yellow;
  padding-left: 9px;
}

.toastcontainer.warn.icon {
  color: yellow;
  padding-left: 9px;
}

.toastcontainer.info {
  background-color: blue;
}

.toastcontainer.info.toastcontent {
  color: blue;
  padding-left: 9px;
}

.toastcontainer.info.icon {
  color: blue;
  padding-left: 9px;
}

.toastcontainer.top-left{
  left: 0px;
  top: 75px;
}

.toastcontainer.top-right{
  right: 0px;
  top: 75px;
}

.toastcontainer.bottom-left{
  left: 0px;
  bottom: 75px;
}

.toastcontainer.bottom-right{
  right: 0px;
  bottom: 75px;
}