.ant-radio-wrapper {
  width: 100%;
  // height: 72px;

  border-radius: 6px;
  padding: 15px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  background: var(--bg-secondary);

  color: var(--gray-2);
  &.ant-radio-wrapper-checked {
    background: var(--bg-active);
    color: var(--blue-6);
  }
}
.ant-radio {
  margin-right: 6px;
  &.ant-radio-checked {
    span.ant-radio-inner {
      border-color: var(--blue-6);
      &::after {
        background-color: var(--blue-6);
      }
    }
  }
  span.ant-radio-inner {
    border-color: var(--gray-2);
  }
}
