<!-- Page Header -->
<header class="header">
    <div class="overlay">
        <h1 class="subtitle" style="color: white;">zenApp</h1>
        <h1 class="title" style="color: white;">We Sharing All Minds</h1>
        <button [routerLink]="['blogposts/add']" type="submit" class="btn btn-primary rounded w-md mt-3">
            <i class="uil uil-pen"></i> Create Your Own
            Article</button>
    </div>
    <div class="shape">
        <svg viewBox="0 0 1500 200">
            <path
                d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
        </svg>
    </div>
    <div class="mouse-icon">
        <div class="wheel"></div>
    </div>
</header>
<!-- End Of Page Header -->

<!-- Service Section -->
<!-- <section id="service" class="section pt-0">
    <div class="container">
        <h6 class="section-title text-center">Our Service</h6>
        <h6 class="section-subtitle text-center mb-5 pb-3">Voluptates architecto provident deserunt.</h6>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <small class="text-primary font-weight-bold">01</small>

                        <p class="mb-0">Lorem ipsum dolor sit amet, cquasi cupiditate voluptate debitis saepe dolorem
                            totam
                            dolor repudiandae quo nihil, repellendus nesciunt ab fuga quae, minima reprehenderit sequi
                            fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <small class="text-primary font-weight-bold">02</small>

                        <p class="mb-0">Lorem ipsum dolor sit amet, cquasi cupiditate voluptate debitis saepe dolorem
                            totam
                            dolor repudiandae quo nihil, repellendus nesciunt ab fuga quae, minima reprehenderit sequi
                            fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <small class="text-primary font-weight-bold">03</small>

                        <p class="mb-0">Lorem ipsum dolor sit amet, cquasi cupiditate voluptate debitis saepe dolorem
                            totam
                            dolor repudiandae quo nihil, repellendus nesciunt ab fuga quae, minima reprehenderit sequi
                            fugit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End OF Service Section -->

<!-- About Section -->
<section class="section" id="blog">
    <div class="container">
        <h6 class="section-title mb-0 text-center">Most View Articles</h6>
        <h6 class="section-subtitle mb-5 text-center">Architecto provident deserunt eveniet libero</h6>

        <div class="row">
            <div class="col-md-4" *ngFor="let blogPost of displayedMostViewsPosts">
                <div class="card border-1 mb-4">
                    <img [src]="blogPost.imageUrl" alt="" class="card-img-top w-100" height="300px"
                        style="cursor: pointer;" [routerLink]="['/blog',blogPost.id]">
                    <div class="card-body">
                        <h6 class="card-title">{{blogPost.title}}</h6>
                        <p>{{blogPost.desc}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-light btn-sm"
                                [routerLink]="['/chat',blogPost.createdById]">
                                {{blogPost?.createdBy}} <i class="uil uil-envelope-alt me-2"></i>
                            </button>
                            <div>
                                <i class="uil-eye text-muted "></i>
                                <span class="small text-muted"> {{blogPost?.views ?? '0'}} views</span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/imgs/blog-2.jpg" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h5 class="card-title"> Harum Quae Porro</h5>
                        <p>Fuga quae ratione inventore Perferendis porro.</p>
                        <a href="javascript:void(0)" class="small text-muted">Go To The Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/imgs/blog-3.jpg" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h6 class="card-title">Qui optio neque alias</h6>
                        <p>Fuga quae ratione inventore Perferendis porro.</p>
                        <a href="javascript:void(0)" class="small text-muted">Go To The Article</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="text-center" *ngIf="mostViewspostsToShow < top3blogsFromFirebase?.length">
            <button (click)="showMoreMostViews()" class="btn btn-primary">Show More</button>
        </div>
    </div>
</section>
<!-- End OF About Section -->

<!-- Portfolio Section -->
<section id="portfolio" class="section portfolio-section">
    <div class="container">
        <h6 class="section-title text-center">Articles Categories</h6>
        <h6 class="section-subtitle mb-5 text-center">New stunning projects for our amazing clients</h6>
        <div class="filters">
            <a *ngFor="let category of categories" href="#"
                (click)="setActiveCategory(category.id); $event.preventDefault()" [attr.data-filter]="category.filter"
                [class.active]="category.id === activeCategory">
                {{ category.categoryName }}
            </a>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let blogPost of displayedPosts">
                <div class="card border-1 mb-4">
                    <img style="cursor: pointer;" [src]="blogPost.imageUrl" alt="" class="card-img-top w-100"
                        height="300px" [routerLink]="['/blog',blogPost.id]">
                    <div class="card-body">
                        <h6 class="card-title">{{blogPost.title}}</h6>
                        <p>{{blogPost.desc}}</p>
                        <div class="d-flex justify-content-between align-items-center">

                            <button type="button" class="btn btn-light btn-sm"
                                (click)="chatThisPerson(blogPost.createdById)">
                                {{blogPost?.createdBy}} <i class="uil uil-envelope-alt me-2"></i>
                            </button>
                            <div>
                                <i class="uil-eye text-muted "></i>
                                <span class="small text-muted"> {{blogPost.views}} views</span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="postsToShow < blogsFromFirebase?.length">
            <button (click)="showMore()" class="btn btn-primary">Show More</button>
        </div>

        <!-- <div class="portfolio-container">
            <div class="col-md-6 col-lg-4 web new">
                <div class="portfolio-item">
                    <img src="assets/imgs/web-2.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/web-2.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">WEB</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 advertising new">
                <div class="portfolio-item">
                    <img src="assets/imgs/advertising-2.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/advertising-2.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">ADVERSTISING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 web">
                <div class="portfolio-item">
                    <img src="assets/imgs/web-4.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/web-4.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">WEB</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 advertising">
                <div class="portfolio-item">
                    <img src="assets/imgs/advertising-1.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/advertising-1.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">ADVERSITING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 web new">
                <div class="portfolio-item">
                    <img src="assets/imgs/web-3.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/web-3.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">WEB</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 advertising new">
                <div class="portfolio-item">
                    <img src="assets/imgs/advertising-3.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/advertising-3.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">ADVERSITING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 advertising new">
                <div class="portfolio-item">
                    <img src="assets/imgs/advertising-4.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/advertising-4.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">ADVERTISING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 branding new">
                <div class="portfolio-item">
                    <img src="assets/imgs/branding-1.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/branding-1.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">BRANDING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 branding">
                <div class="portfolio-item">
                    <img src="assets/imgs/branding-2.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/branding-2.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">BRANDING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 branding new">
                <div class="portfolio-item">
                    <img src="assets/imgs/branding-3.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/branding-3.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">BRANDING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 branding">
                <div class="portfolio-item">
                    <img src="assets/imgs/branding-4.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/branding-4.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">BRANDING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 branding">
                <div class="portfolio-item">
                    <img src="assets/imgs/branding-5.jpg" class="img-fluid"
                        alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                    <div class="content-holder">
                        <a class="img-popup" href="assets/imgs/branding-5.jpg"></a>
                        <div class="text-holder">
                            <h6 class="title">BRANDING</h6>
                            <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- End of portfolio section -->

<!-- Blog Section -->
<!-- <section class="section" id="blog">
    <div class="container">
        <h6 class="section-title mb-0 text-center">Latest Articles</h6>
        <h6 class="section-subtitle mb-5 text-center">Architecto provident deserunt eveniet libero</h6>

        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/imgs/blog-1.jpg" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h6 class="card-title">Pariatur Omnis Harum quae sint.</h6>
                        <p>Fuga quae ratione inventore Perferendis porro.</p>
                        <a href="javascript:void(0)" class="small text-muted">Go To The Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/imgs/blog-2.jpg" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h5 class="card-title"> Harum Quae Porro</h5>
                        <p>Fuga quae ratione inventore Perferendis porro.</p>
                        <a href="javascript:void(0)" class="small text-muted">Go To The Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/imgs/blog-3.jpg" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h6 class="card-title">Qui optio neque alias</h6>
                        <p>Fuga quae ratione inventore Perferendis porro.</p>
                        <a href="javascript:void(0)" class="small text-muted">Go To The Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End of Blog Section -->

<!-- Testmonial Section -->
<section class="section" id="testmonial">
    <div class="container">
        <h6 class="section-title text-center mb-0">How reading blogs can be helpful</h6>
        <!-- <h6 class="section-subtitle mb-5 text-center">What People Says</h6> -->
        <div class="row">
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3"
                                src="https://qph.cf2.quoracdn.net/main-thumb-20157936-200-FdohtjRzbYzUjfRs6u6eHxRfAPEwtA8r.jpeg"
                                alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Dinesh Sharma</h6>
                                <small class="text-muted mb-0">Tech blogger</small>
                            </div>
                        </div>
                        <p class="mb-0">Every individual has their own experience and learning in life. And reading
                            though other writing, you always gain their knowledge and experiences.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3"
                                src="https://qph.cf2.quoracdn.net/main-thumb-111082632-50-mszoyssligqlbgegcnhybzeceddeqzyp.jpeg"
                                alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Saurav Kumar
                                </h6>
                                <small class="text-muted mb-0">Founder and Ceo at Www.uthegaindia.com</small>
                            </div>
                        </div>
                        <p class="mb-0">Blogs are the best way to learn things quickly and efficiently from the person
                            who has experienced your problem or who has knowledge about your problem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3"
                                src="https://qph.cf2.quoracdn.net/main-thumb-35896914-50-mrgvwivqcysavoxjuyuotcwlhprvnocv.jpeg"
                                alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Mahaveer Verma</h6>
                                <small class="text-muted mb-0">Electronics engineer sharing his bits & bytes</small>
                            </div>
                        </div>
                        <p class="mb-0">Most of the sites that you land on whenever googling anything, chances are, they
                            are blogs started by people like you and me.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Testmonial Section -->

<!-- Contact Section -->
<section id="contact" class="section has-img-bg pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 my-3">
                <h6 class="mb-0 text-white">Phone</h6>
                <p class="mb-4">+60149868706</p>

                <h6 class="mb-0 text-white">Address</h6>
                <p class="mb-4">Singapore | Malaysia</p>

                <h6 class="mb-0 text-white">Email</h6>
                <p class="mb-0">jinghao0958@gmail.com</p>
                <p></p>
            </div>
            <div class="col-md-7">
                <form (ngSubmit)="sendEmail()">
                    <h4 class="mb-4 text-white">Drop Us A Line</h4>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control text-white rounded-0 bg-transparent" name="name"
                                [(ngModel)]="emailData.name" placeholder="Name" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="email" class="form-control text-white rounded-0 bg-transparent" name="email"
                                [(ngModel)]="emailData.email" placeholder="Email" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control text-white rounded-0 bg-transparent" name="subject"
                                [(ngModel)]="emailData.subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group col-12">
                            <textarea name="message" id="" cols="30" rows="4"
                                class="form-control text-white rounded-0 bg-transparent" [(ngModel)]="emailData.message"
                                placeholder="Message" required></textarea>
                        </div>
                        <div class="form-group col-12 mb-0">
                            <button type="submit" class="btn btn-primary rounded w-md mt-3">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Page Footer -->
        <footer class="mt-5 py-4 border-top border-secondary">
            <p class="mb-0 small">&copy;
                All rights reserved
            </p>
        </footer>
        <!-- End of Page Footer -->
    </div>
</section>