<div class="container mt-5 pt-3">
    <h1 class="mt-3">Category List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add category</a>
    </div>

    <ng-container class="table-responsive">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>categoryName</th>
                    <th>categoryDescription</th>
                    <th>categoryImage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.categoryName}}</td>
                    <td>{{category.categoryDescription}}</td>
                    <td><img class="img-fluid" *ngIf="category.categoryImage" [src]="category.categoryImage"
                            alt="Selected Image" width="50" height="50" (click)="openImage(category.categoryImage)"
                            style="cursor: pointer;"></td>

                    <td>

                        <div class="d-flex m-1">
                            <a class="btn btn-light" [routerLink]="['/admin/categories', category.id]">Edit</a>
                            <a class="btn btn-danger m-1" (click)="openBanModal(category.id)">Delete</a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </ng-container>
</div>